<!doctype html>
<html>
    <head>
        <!-- Auto update the page for demo purposes -->
        <meta http-equiv="refresh" content="3"> 
        
        <title>{% block title %}Agitator Challenge{% end %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1><a href="/" class="nodecoration">Deep Mine</a></h1>
            <hr>
            {% block content %}Main Content{% end %}
        </div>
    </body>
</html>