{% extends base.html %}

{% block title %}Agitator Challenge - Agitator {{id}}{% end %}

{% block content %}
    <h2>Agitator {{id}}
        <a href="/" class="btn btn-primary flrt">Go Back</a>
    </h2>
    <div class="clearfix"></div>

    <!-- Overall Status of Autoclave -->
    <div class="text-white text-center p-3
        {% if agi["status"] == Status.Good %}
            bg-success
        {% elif agi["status"] == Status.Caution %}
            bg-warning
        {% elif agi["status"] == Status.Fail %}
            bg-danger
        {% else %}
            bg-info
        {% end %}
    ">System Status</div>

{% end %}