{% extends base.html %}

{% block title %}Agitator Challenge - Agitator {{id}}{% end %}

{% block content %}
    <h2>Agitator {{id}}
        <a href="/" class="btn btn-primary flrt">Go Back</a>
    </h2>
    <div class="clearfix"></div>

    <!-- Overall Status of Autoclave -->
    <div class="text-white text-center p-3
        {% if agi["status"] == Status.Good %}
            bg-success
        {% elif agi["status"] == Status.Caution %}
            bg-warning
        {% elif agi["status"] == Status.Fail %}
            bg-danger
        {% else %}
            bg-info
        {% end %}
    ">System Status</div>

    {% for field, value in agi.iteritems() %}
        {% if field == "status" %}
            {% continue %}
        {% end %}
    
        <div>
            <p class="mt-2 p-2">{{ field.title() }}: 
                <span class="box text-white
                {% if value[0] == Status.Good %}
                    bg-success
                {% elif value[0] == Status.Caution %}
                    bg-warning
                {% elif value[0] == Status.Fail %}
                    bg-danger
                {% else %}
                    bg-info
                {% end %}    
                "></span>
                <span>{{value[1]}}</span>
            </p>
        </div>
    {% end %}
{% end %}