{% for field, value in ac.iteritems() %}
    {% if field == "status" or (field == "Other" and not show_other) %}
        {% continue %}
    {% elif field == "Other" and show_other %}
        {% for f, v in value.iteritems() %}
        <div>
            <p class="mt-2 p-2">{{ f.title() }}: 
                <span class="box text-white
                {% if v[0] == Status.Good %}
                    bg-success
                {% elif v[0] == Status.Caution %}
                    bg-warning
                {% elif v[0] == Status.Fail %}
                    bg-danger
                {% else %}
                    bg-info
                {% end %}    
                "></span>
                <span>{{ v[1] }}</span>
            </p>
        </div>
        {% end %}
    {% else %}
        <a href="/autoclave/{{id}}/agitator/{{field}}" class="nodecoration">
            <div>
                <p class="mt-2 p-2">Agitator {{ field.title() }}: 
                    <span class="box text-white
                    {% if value["status"] == Status.Good %}
                        bg-success
                    {% elif value["status"] == Status.Caution %}
                        bg-warning
                    {% elif value["status"] == Status.Fail %}
                        bg-danger
                    {% else %}
                        bg-info
                    {% end %}    
                    "></span>
                </p>
            </div>
        </a>
    {% end %}
{% end %}