.vertical-divider {
    border-right:1px solid #ccc;
}
.box {
    display:block;
    width:25px;
    height:25px;
    float: right;
}

.nodecoration {
    text-decoration: none;
    color: inherit;
}

.nodecoration:hover {
    text-decoration: none;
    color: inherit;
}

.flrt {
    float:right;
}